body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 375px;
    height: 812px;
    position: relative;
    background: #FFFDF5;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .app-version {
    width: 238px;
    left: 68px;
    top: 723px;
    position: absolute;
    text-align: center;
    color: #353A48;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
  }
  
  .terms {
    width: 238px;
    left: 68px;
    top: 692px;
    position: absolute;
    text-align: center;
    color: #353A48;
    font-size: 12px;
    font-family: Comfortaa;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
  }
  
  .title {
    width: 301px;
    height: 68px;
    left: 37px;
    top: 136px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .title-text {
    width: 301px;
    height: 68px;
    text-align: center;
    color: #A7CCD4;
    font-size: 50px;
    font-family: Comfortaa;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .header {
    width: 375px;
    height: 45px;
    left: -6px;
    top: 0px;
    position: absolute;
  }
  

  .notification {
    width: 20px;
    height: 20px;
    left: 355px;
    top: 54px;
    position: absolute;
    background: #C4C4C4;
  }
  
  .signup-button {
    width: 295px;
    height: 48px;
    left: 34px;
    top: 599px;
    position: absolute;
  }
  
  .signup-button .button-bg {
    width: 295px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 0.50px #353A48 solid;
  }
  
  .signup-button .button-text {
    width: 148px;
    height: 48px;
    left: 73px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: #353A48;
    font-size: 14px;
    font-family: Comfortaa;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .password-reenter {
    width: 313px;
    height: 52px;
    left: 30px;
    top: 493px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .password-reenter .field-container {
    width: 313px;
    height: 52px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .password-reenter .field-container .field-bg {
    width: 313px;
    height: 52px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(167, 204, 212, 0.30);
    border-radius: 20px;
  }
  
  .password-reenter .field-container .field-text {
    width: 211px;
    left: 26px;
    top: 16px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .field-indicator {
    height: 24px;
    padding-left: 2.83px;
    padding-right: 2.83px;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .field-indicator .indicator-line {
    width: 9.43px;
    height: 9px;
    border: 0.75px #353A48 solid;
  }
  
  .field-indicator .indicator-line + .indicator-line {
    margin-top: 2px;
  }
  
  .password-enter {
    width: 313px;
    height: 52px;
    left: 30px;
    top: 396px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .password-enter .field-container {
    width: 313px;
    height: 52px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .password-enter .field-container .field-bg {
    width: 313px;
    height: 52px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(167, 204, 212, 0.30);
    border-radius: 20px;
  }
  
  .password-enter .field-container .field-text {
    width: 211px;
    left: 26px;
    top: 16px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .email-enter {
    width: 313px;
    height: 52px;
    left: 30px;
    top: 299px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .email-enter .field-container {
    width: 313px;
    height: 52px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .email-enter .field-container .field-bg {
    width: 313px;
    height: 52px;
    background: rgba(167, 204, 212, 0.30);
    border-radius: 20px;
  }
  
  .email-enter .field-container .field-icon {
    width: 25.45px;
    height: 27px;
    position: relative;
  }
  
  .email-enter .field-container .field-icon .icon-top {
    width: 19.09px;
    height: 15.75px;
    left: 3.18px;
    top: 5.62px;
    position: absolute;
    border: 0.75px #353A48 solid;
  }
  
  .email-enter .field-container .field-icon .icon-bottom {
    width: 19.09px;
    height: 15.75;
    left: 3.18px;
    top: 7.65px;
    position: absolute;
    border: 0.75px #353A48 solid;
  }
  
  .email-enter .field-container .field-text {
    width: 170.15px;
    color: black;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .divider {
    height: 23px;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    left: 0px;
    top: 788px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .divider .line {
    width: 134px;
    height: 4px;
    background: black;
    border-radius: 100px;
  }
  
  /* Added styles for textboxes */
  
  .field-text input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: rgba(167, 204, 212, 0.30);
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
  }
  